@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

// Global colors
$black: #000000;
$grey: #5e5e5e;
$grey-dark: #3a3a3a;
$grey-darker: #333333;
$grey-darkest: #2e2e2e;
$light: #ffffff;
$turquoise: #40e0d0;

$transition: 0.2s;

@import './control-buttons';
@import './key';
@import './keyboard';
@import './slider';
@import './synth';
@import './wheel';

body {
  background-color: $grey-darker;
  font-family: sans-serif;
  margin: 0;
  padding: 0;

  .App {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
}